<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="js/vue.js"></script>
    <meta charset="utf-8">
    <title>Vue Project</title>
    <link rel="stylesheet" href="/css/estilo.css">
  </head>
  <body>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>

    <!-- Use any element to open the sidenav -->
    <span onclick="openNav()">open</span>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
      <div id="app">

        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
        <p></p>

        <div id="calc">
          <div class="result">
            <input type="text" name="" value="" class="input_result">
          </div>

          <div class="digitos">
            <button type="button" name="button">1</button>
            <button type="button" name="button">2</button>
            <button type="button" name="button">3</button>
          </div>
        </div>
      </div>
    </div>

    <script src="js/index.js"></script>

    <script type="text/javascript">
      /* Set the width of the side navigation to 250px */
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
  </body>
</html>
